@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bebas Neue";
  height: 100vh;
  background-image: linear-gradient(to right top, pink, violet);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80vh;
  color: rgb(73, 73, 73);
  background-color: rgba(240, 255, 255, 0.5);
  border-radius: 10px;
}

.player {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
  align-items: center;
  text-align: center;
}
.bg {
  background-color: rgba(238, 130, 238, 0.5);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 60px;
}

.player-txt {
  font-size: 54px;
  margin: 20px;
  padding: 5px 20px;
}

#score-0,
#score-1 {
  font-size: 100px;
  margin-top: 10px;
}

.current-txt {
  font-size: 38px;
  margin: 20px;
  padding: 5px 40px;
}

#current-0,
#current-1 {
  font-size: 46px;
  margin: 10px 20px;
}
